<h2>Welcome {{name}} !</h2>



<div class="container">

<br>
<br>
<h4 class=h4>welcome to vride car pooling Application</h4>
<br>
<br>
</div>


<div class=col>

    <h3 > wanna drive a car , then press here

<button (click)=betheDriver() class="btn btn-success">Drive</button></h3>
<br>
<br>
<h3>wanna be a rider in a car , then press here


<button (click)=betheRider() class="btn btn-success">Ride</button></h3>
    </div>

<!--         try     -->


  <!--  <div class="container">
        click here to get a customized welcome message
        <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get welcome message</button>
    </div>


    <div class="container" *ngIf="welcomemsgfromservice">
        <h2>your customized welcome message</h2>
        
           {{welcomemsgfromservice}}
    </div>-->
